* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: monospace;
    color: #333;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: palevioletred;
    text-transform: lowercase;
}

header, footer {
    padding: 10px;
    background-color: pink;
    color: #666;
    text-align: center;
}

section {
    padding: 10px;
    margin-block: 20px;
}

#mood-bunny {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#bunny-art {
    font-size: 4rem;
    background-color: palevioletred;
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}
